body {
  background-color: #fff;
  color: #222; 
}


.bg-one {
    background-color: #fff;
}

.title h2 {
    color:#000;
}

.title h2 span {
    color: darkred;
}

.border::before {
    background-color: darkred;
}

.about .block {
    background: #fff;
}
.about .block:hover { border-bottom: 2px solid darkred; }
.section-bg {
    background: #fff;
}

.post-block {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: darkred;
}

.btn-main:hover {
    background: red;
}

.btn-main { background: darkred; }
.btn-transparent, .btn-transparent { background-color: darkred; }
.btn-transparent:hover, .btn-transparent:focus { background-color: red; }
