{{ define "main" }}

    {{ partial "header.html" . }}
        
    {{ partial "preloader.html" . }}
            
    {{ partial "hero-area.html" . }}

    {{ partial "navigation.html" . }}

    {{ partial "quem-somos.html" . }}

    {{ partial "projectos.html" . }}

    {{ partial "blog.html" . }}

    {{ partial "contact.html" . }}
        
{{/*  DESACTIVADOS:
    {{ partial "service.html" . }}
    {{ partial "cta.html" . }}
    {{ partial "skill.html" . }}
    {{ partial "portfolio.html" . }}
    {{ partial "counter.html" . }}
    {{ partial "team.html" . }}
    {{ partial "pricing.html" . }}
*/}}
            

{{ end }}
